/* Kodning boshi */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500vh;
    background-color: white;
}

/* Welcomeni barcha stylelari */
.welcome {
    color: rgb(179, 161, 20);
    font-size: 5vw;
    font-family: monospace;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    border-right: 3px solid black;
    animation: typing 5s steps(50) infinite alternate, blink 0.7s infinite;
    display: block;
    margin-top: 50px auto;
    text-align: center;
    position: relative;
}

.yozish {
    min-height: 2em;
    text-align: center;
}


@keyframes typing {
    from {width: 0 }
    to {width: 19ch }
}

@keyframes blink {
    0%, 100% {border-color: transparent;}
    50% {border-color: blue;}
}

/* Salom text style */
.hello {
    margin-top: 150px;
    color: rgb(31, 3, 113);
    font-size: 3.8vw;
    font-family:  monospace;
    font-style: italic;
    text-align: center;
    
}

/* O'zim haqimda Style joyi */
.my {
    margin-top: 50px;
    font-family: monospace;
    font-size: 2vw;
    text-align: center;
    color: black;
}

#my {
    color: rgb(31, 3, 113);
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
}



/* Tajribam style joyi */
.experience {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 2vw;
    margin-top: 75px;
    font-family: monospace;
    justify-content: space-between;
}

.tajriba {
    color: black;
}


/* Progres % Stili */
.progres-bar {
    width: auto;
    height: 4px;
    background-color: rgb(161, 159, 159);
    border-radius: 10px;
    margin: 1px 0;
    overflow: hidden;
    text-align: center;
}

.progres {
    text-align: center;
    height: 100%;
    background-color: blue;
    transition: width 0.5s ease;
}


/* Sozlama */
.balandlik {
    margin-top: 20px;
}

/* Footer uchun style */
footer {
    background-color: grey;
    color: black;
    text-align: center;
    padding: 20px 10px;
    width: 100%;
    height: 17%;
    margin-top: 380px;
}

.footeryordamchi {
    max-width: 1200px;
}

footer p {
    font-size: 1rem;
    margin: 25px 0;
}

footer a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
